#budget {
    .clearfix {
        margin-top: 2.4em;
    }
    .canvas-holder {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(5,2);
        }
        #chart-area2 {
            widows: 100%;
        }
    }
    .chart-details {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(5,8);
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                display: block;
                text-transform: uppercase;
                font-size: 1.8em;
                margin: 0 0 .4em 0;
            }
        }
    }
    .color-152C53 {
        color: #152C53;
    }
    .color-AA1E41 {
        color: #AA1E41;
    }
    .color-626467 {
        color: #626467;
    }
    .color-499544 {
        color: #499544;
    }
    .color-F38020 {
        color: #F38020;
    }
    .color-6CAEDF {
        color: #6CAEDF;
    }
    .color-9C8B6F {
        color: #9C8B6F;
    }
    .color-626467 {
        color: #626467;
    }


    

}