#budget {
    .clearfix {
        margin-top: 2.4em;
    }
    .canvas-holder {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(5,1);
        }
        position: relative;
        // #chart-area2 {
        //     width: 100%;
        // }
        .total {
            width: 100%;
            position: absolute;
            top: 35%;
            text-align: center;
            color: #152C53;
            font-size: 2.5em;
            line-height: .9em;
            text-transform: uppercase;
            font-weight: bold;
            .number {
                font-size: 1.5em;
                line-height: .9em;
            }
        }
    }
    .chart-details {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(6,7);
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                display: block;
                text-transform: uppercase;
                font-size: 1.8em;
                margin: 0 0 .4em 0;
            }
        }
    }
    .color-152C53 {
        color: #152C53;
    }
    .color-AA1E41 {
        color: #AA1E41;
    }
    .color-626467 {
        color: #626467;
    }
    .color-499544 {
        color: #499544;
    }
    .color-F38020 {
        color: #F38020;
    }
    .color-6CAEDF {
        color: #6CAEDF;
    }
    .color-9C8B6F {
        color: #9C8B6F;
    }
    .color-6CAFDF {
        color: #6CAFDF;
    }
    .color-43C17D {
        color: #43C17D;
    }
    .color-002B54 {
        color: #002B54;
    }
    .color-9D68DE {
        color: #9D68DE;
    }
    .color-D41A1A {
        color: #D41A1A;
    }
    .color-F48120 {
        color: #F48120;
    }

    .reserves, .expenditures {
        margin: 4em 0 3em 0;
        padding: 0 0 0 4em;
        img {
            display: inline-block;
            width: 100px;
        }
        h3{
            display: inline-block;
            font-family: $font-family;
            margin: 0 0 0 2em;
            text-transform: uppercase;
            font-size: 3em;
            font-weight: normal;
        }
    }
    .expenditures h3 {
        color: #6CAEDF;
    }
    

}