.logo {
  img {
    display: block;
    margin: 0 auto 0 auto;
    width: 100%;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      margin: 0;
      height: 157px;
      margin-top: -32px;
      width: auto;
    }
  }
}
