.video-hero { 
    position: relative; 
    padding-bottom:42%; 
    height: 0; 
    overflow: hidden; 
    width: 100%;
    max-width: 100%; 
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        margin-top: 125px;
    }
}
.video-hero iframe, .video-hero object, .video-hero embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}