/* validation Colors */
/* line 2, ../sass/partials/global/_extendables.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 7, ../sass/partials/global/_extendables.scss */
.clearfix:after {
  clear: both;
}

/* line 1, ../sass/partials/styleguide/type/_base-type.scss */
html {
  font: normal 100%/1.65 "Roboto Condensed", sans-serif;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

/* line 6, ../sass/partials/styleguide/type/_base-type.scss */
body {
  color: #3d3d3d;
}

/* line 10, ../sass/partials/styleguide/type/_base-type.scss */
p {
  margin: auto auto 1.5em;
}
/* line 14, ../sass/partials/styleguide/type/_base-type.scss */
p + p {
  margin-top: -0.5em;
}

/* line 1, ../sass/partials/styleguide/type/_headings.scss */
h1 {
  font-size: 2em;
}

/* line 2, ../sass/partials/styleguide/type/_headings.scss */
h2 {
  font-size: 1.8em;
}

/* line 3, ../sass/partials/styleguide/type/_headings.scss */
h3 {
  font-size: 1.4em;
}

/* line 4, ../sass/partials/styleguide/type/_headings.scss */
h4 {
  font-size: 1.3em;
}

/* line 5, ../sass/partials/styleguide/type/_headings.scss */
h5 {
  font-size: 1.2em;
}

/* line 6, ../sass/partials/styleguide/type/_headings.scss */
h6 {
  font-size: 1em;
}

@media (min-width: 0) and (max-width: 37.5em) {
  /* line 9, ../sass/partials/styleguide/type/_headings.scss */
  h1 {
    font-size: 1.7em;
  }

  /* line 10, ../sass/partials/styleguide/type/_headings.scss */
  h2 {
    font-size: 1.4em;
  }

  /* line 11, ../sass/partials/styleguide/type/_headings.scss */
  h3 {
    font-size: 1.3em;
  }

  /* line 12, ../sass/partials/styleguide/type/_headings.scss */
  h4 {
    font-size: 1.3em;
  }

  /* line 13, ../sass/partials/styleguide/type/_headings.scss */
  h5 {
    font-size: 1.2em;
  }

  /* line 14, ../sass/partials/styleguide/type/_headings.scss */
  h6 {
    font-size: 1em;
  }
}
/* line 17, ../sass/partials/styleguide/type/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 16px 0;
  line-height: 1.3;
  color: #002b54;
  font-family: "Alegreya", serif;
}

/* line 1, ../sass/partials/styleguide/type/_links.scss */
a {
  color: #0f7abd;
}
/* line 3, ../sass/partials/styleguide/type/_links.scss */
a:hover {
  color: #1398ec;
}
/* line 6, ../sass/partials/styleguide/type/_links.scss */
a:visited {
  color: #0b5b8e;
}

/* line 12, ../sass/partials/styleguide/type/_links.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 18, ../sass/partials/styleguide/type/_links.scss */
div.btn {
  display: inline-block;
}
/* line 20, ../sass/partials/styleguide/type/_links.scss */
div.btn a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #002b54;
  border: 1px solid #001e3a;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 95%;
  font-family: "Alegreya", serif;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 56, ../sass/partials/global/_mixins.scss */
div.btn a:hover {
  background-color: #00264a;
}
/* line 27, ../sass/partials/styleguide/type/_links.scss */
div.btn a:hover {
  margin-top: -0.15em;
  margin: -0.15em 0 0.15em;
}

/* line 1, ../sass/partials/styleguide/media/_images.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 1, ../sass/partials/styleguide/media/_videos.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

/* line 7, ../sass/partials/styleguide/media/_videos.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/partials/styleguide/forms/_inputs.scss */
input[type="text"], input[type="email"], input[type="name"], input[type="password"], input[type="file"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em 1em;
  font-size: 100%;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  margin-bottom: .5em;
}
/* line 9, ../sass/partials/styleguide/forms/_inputs.scss */
input[type="text"]:active, input[type="text"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="name"]:active, input[type="name"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="file"]:active, input[type="file"]:focus {
  border: 1px solid #002b54;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/* line 1, ../sass/partials/styleguide/forms/_textarea.scss */
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
  font-size: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  font-family: "Roboto Condensed", sans-serif;
}
/* line 9, ../sass/partials/styleguide/forms/_textarea.scss */
textarea:active, textarea:focus {
  border: 1px solid #002b54;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/* line 1, ../sass/partials/styleguide/forms/_buttons.scss */
input[type="submit"] {
  background-color: #999999;
  border: 1px solid #6286bd;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 100%;
  font-family: "Alegreya", serif;
  display: inline-block;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 0px 0px white;
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 0px 0px white;
  border-radius: 3px;
  padding: 10px 25px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: .8em;
  color: #373737;
  cursor: pointer;
}
/* line 56, ../sass/partials/global/_mixins.scss */
input[type="submit"]:hover {
  background-color: #949494;
}

/* line 2, ../sass/partials/styleguide/forms/_label.scss */
form label {
  font-weight: normal;
  font-size: 110%;
  padding-bottom: .5em;
  display: inline-block;
  min-width: 55px;
}
/* line 10, ../sass/partials/styleguide/forms/_label.scss */
form .description {
  font-size: 85%;
  margin: 1em 0;
}

/* line 1, ../sass/partials/styleguide/forms/_fieldsets.scss */
fieldset {
  border-radius: 3px;
  padding: 1em 1.5em;
}
/* line 5, ../sass/partials/styleguide/forms/_fieldsets.scss */
fieldset .fieldset-legend a {
  text-decoration: none;
}

/* line 1, ../sass/partials/styleguide/misc/_table.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 5, ../sass/partials/styleguide/misc/_table.scss */
table tr {
  padding: 0;
}
/* line 7, ../sass/partials/styleguide/misc/_table.scss */
table tr.odd {
  background-color: #f7f7f7;
  border-bottom: 0;
}
/* line 11, ../sass/partials/styleguide/misc/_table.scss */
table tr.even {
  background-color: white;
  border-bottom: 0;
}
/* line 16, ../sass/partials/styleguide/misc/_table.scss */
table td {
  padding: 0.5em 2em;
  margin: 0;
}

/* line 24, ../sass/partials/styleguide/misc/_table.scss */
table.sticky-enabled thead th, table.sticky-header thead th {
  border-bottom: 3px solid #0f7abd;
  padding: 1em 0 1em 2em;
}

/* line 1, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager {
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #951938;
}
/* line 5, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager li {
  display: inline-block;
  list-style: none;
  padding-right: .5em;
  color: #0f7abd;
}
/* line 10, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager li a:visited {
  color: #0f7abd;
}

/* line 2, ../sass/partials/design/blocks/_logo.scss */
.logo img {
  display: block;
  margin: 0 auto 0 auto;
}
@media (min-width: 50em) {
  /* line 2, ../sass/partials/design/blocks/_logo.scss */
  .logo img {
    margin: 0;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .logo img {
  margin: 0;
}

/* line 1, ../sass/partials/design/blocks/_main-navigation.scss */
.menu {
  padding: 0;
  margin: 0;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu {
    text-align: right;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu {
  text-align: right;
}
/* line 7, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li {
  list-style: none;
  margin: 0;
  display: block;
  padding: 0;
}
@media (min-width: 50em) {
  /* line 7, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li {
    display: inline-block;
    line-height: 3em;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li {
  display: inline-block;
  line-height: 3em;
}
/* line 16, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a {
  font-weight: 500;
  font-size: 1em;
  -webkit-transition: color .5s ease;
          transition: color .5s ease;
  padding: .75em 1em;
  display: block;
  color: #000;
  text-transform: uppercase;
}
@media (min-width: 50em) {
  /* line 16, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li a {
    margin-left: 1.5em;
    padding: 0;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li a {
  margin-left: 1.5em;
  padding: 0;
}
/* line 28, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a:hover {
  color: #002b54;
}
/* line 31, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a:active {
  top: 1px;
  position: relative;
}
/* line 37, ../sass/partials/design/blocks/_main-navigation.scss */
.menu a, .menu a:visited {
  text-decoration: none;
}

/* line 41, ../sass/partials/design/blocks/_main-navigation.scss */
.js .main-nav .menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease;
          transition: max-height .5s ease;
}
@media (min-width: 50em) {
  /* line 41, ../sass/partials/design/blocks/_main-navigation.scss */
  .js .main-nav .menu {
    max-height: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .js .main-nav .menu {
  max-height: none;
}
/* line 48, ../sass/partials/design/blocks/_main-navigation.scss */
.js .main-nav .menu.show {
  max-height: 500px;
}

/* line 52, ../sass/partials/design/blocks/_main-navigation.scss */
.js .menu-btn {
  padding: 1em;
  background: #002b54;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
}
@media (min-width: 50em) {
  /* line 52, ../sass/partials/design/blocks/_main-navigation.scss */
  .js .menu-btn {
    display: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .js .menu-btn {
  display: none;
}
/* line 63, ../sass/partials/design/blocks/_main-navigation.scss */
.js .menu-btn img {
  padding-right: .5em;
}

/* line 67, ../sass/partials/design/blocks/_main-navigation.scss */
.no-js .menu-btn {
  display: none;
}

/* line 1, ../sass/partials/design/blocks/_video.scss */
.video-hero {
  position: relative;
  padding-bottom: 42%;
  height: 0;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/blocks/_video.scss */
  .video-hero {
    margin-top: 125px;
    margin-bottom: 60px;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .video-hero {
  margin-top: 125px;
  margin-bottom: 60px;
}

/* line 13, ../sass/partials/design/blocks/_video.scss */
.video-hero iframe, .video-hero object, .video-hero embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/partials/design/blocks/_dividers.scss */
.divider {
  background: url("../images/divider.svg") no-repeat center center;
  height: 55px;
  overflow: hidden;
  position: relative;
}
/* line 6, ../sass/partials/design/blocks/_dividers.scss */
.divider h3 {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  left: 70px;
  bottom: -20px;
  font-size: 4em;
  margin: 0;
}

/* line 2, ../sass/partials/design/blocks/_our-mission.scss */
#our-mission .title {
  text-align: center;
  padding: 3em 3em 0 3em;
}
@media (min-width: 50em) {
  /* line 2, ../sass/partials/design/blocks/_our-mission.scss */
  #our-mission .title {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #our-mission .title {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 7, ../sass/partials/design/blocks/_our-mission.scss */
#our-mission .title h3 {
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5em;
  margin: 0;
}
/* line 14, ../sass/partials/design/blocks/_our-mission.scss */
#our-mission .title p {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
}
/* line 21, ../sass/partials/design/blocks/_our-mission.scss */
#our-mission .wrapper {
  margin: 2em 0;
}
@media (min-width: 50em) {
  /* line 24, ../sass/partials/design/blocks/_our-mission.scss */
  #our-mission .gallery {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #our-mission .gallery {
  width: 50%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 28, ../sass/partials/design/blocks/_our-mission.scss */
#our-mission .gallery .flex-direction-nav a {
  bottom: 5px;
  top: initial;
}
/* line 33, ../sass/partials/design/blocks/_our-mission.scss */
#our-mission .courage {
  background-color: #6CAFDF;
}
/* line 36, ../sass/partials/design/blocks/_our-mission.scss */
#our-mission .leadership {
  background-color: #A92143;
}
@media (min-width: 50em) {
  /* line 38, ../sass/partials/design/blocks/_our-mission.scss */
  #our-mission .leadership .title {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #our-mission .leadership .title {
  width: 50%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 50em) {
  /* line 43, ../sass/partials/design/blocks/_our-mission.scss */
  #our-mission .leadership .gallery {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #our-mission .leadership .gallery {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 49, ../sass/partials/design/blocks/_our-mission.scss */
#our-mission .duty {
  background-color: #032C53;
}

/* line 55, ../sass/partials/design/blocks/_our-mission.scss */
.flexslider .slides img {
  height: inherit;
}

/* line 1, ../sass/partials/design/blocks/_learn-more.scss */
#learn-more {
  background-color: #002b54;
}
/* line 4, ../sass/partials/design/blocks/_learn-more.scss */
#learn-more .content {
  text-align: center;
  background: #002b54 url("../images/pdf.svg") no-repeat 95% center;
  padding: 2em 0;
}
/* line 8, ../sass/partials/design/blocks/_learn-more.scss */
#learn-more .content a {
  text-decoration: none;
  text-transform: uppercase;
}
/* line 12, ../sass/partials/design/blocks/_learn-more.scss */
#learn-more .content h3 {
  color: #fff;
  font-size: 4.5em;
  margin: 0 0 0 -1em;
}
/* line 17, ../sass/partials/design/blocks/_learn-more.scss */
#learn-more .content h4 {
  color: #fff;
  font-size: 2.5em;
  margin: 0 0 0 -1em;
}

/* line 2, ../sass/partials/design/blocks/_archives.scss */
#archives h3 {
  color: #ab1d40;
  font-size: 3em;
  margin: 0;
  padding: .3em 0;
  display: block;
  border-bottom: solid #ab1d40 2px;
  text-transform: uppercase;
}
/* line 11, ../sass/partials/design/blocks/_archives.scss */
#archives .content {
  padding: 2em 0;
  -webkit-column-count: 5;
     -moz-column-count: 5;
          column-count: 5;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
/* line 15, ../sass/partials/design/blocks/_archives.scss */
#archives .content ul {
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/partials/design/blocks/_archives.scss */
#archives .content ul li {
  display: block;
}
/* line 20, ../sass/partials/design/blocks/_archives.scss */
#archives .content ul li a {
  font-size: 1.5em;
  text-transform: none;
}

/* line 1, ../sass/partials/design/blocks/_by-the-numbers.scss */
#staff path {
  display: none;
}

/* line 9, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .pfa-protects {
  margin: 2.5em 0;
}
@media (min-width: 50em) {
  /* line 11, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .pfa-protects .left {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding: 1em;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .pfa-protects .left {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  padding: 1em;
}
/* line 18, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .pfa-protects .right h3 {
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  background: none;
  color: #152D53;
  font-size: 3.5em;
  padding: 0;
  line-height: .9em;
}
/* line 27, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .pfa-protects .right h4 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  background: none;
  color: #AB1D40;
  font-size: 4.5em;
  border: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 50em) {
  /* line 17, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .pfa-protects .right {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .pfa-protects .right {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 50em) {
  /* line 42, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .left {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .left {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
@media (min-width: 50em) {
  /* line 47, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .right {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .right {
  width: 50%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 52, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .staff-icons {
  width: 100%;
}
/* line 55, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers ul.staff-title {
  margin: 2em 0 0 0;
  padding: 0;
}
/* line 58, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers ul.staff-title li {
  margin: 0 0 .5em 0;
  padding: 0;
  display: block;
  text-transform: uppercase;
  font-size: 2em;
}
/* line 64, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers ul.staff-title li.drk-blue {
  color: #002b54;
}
/* line 65, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers ul.staff-title li.lt-blue {
  color: #6caedf;
}
/* line 66, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers ul.staff-title li.red {
  color: #ab1d40;
}
/* line 69, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers h4 {
  border-top: dashed 1px #939598;
  border-bottom: dashed 1px #939598;
  font-family: "Roboto Condensed", sans-serif;
  padding: .3em 0;
  text-transform: uppercase;
  font-size: 2em;
  color: #ab1d40;
}
/* line 79, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers h5.spinkler-title {
  color: #6CAFE0;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 2em;
}
/* line 85, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .blue-box-wrapper {
  margin-bottom: 1.5em;
}
@media (min-width: 50em) {
  /* line 87, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .blue-box-wrapper .blue-box {
    width: 75%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .blue-box-wrapper .blue-box {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 92, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .blue-box-wrapper .water-icon {
  text-align: center;
}
@media (min-width: 50em) {
  /* line 92, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .blue-box-wrapper .water-icon {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .blue-box-wrapper .water-icon {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 97, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .blue-box-wrapper .water-icon img {
  width: 100px;
}
/* line 100, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .blue-box-wrapper .water-icon .num {
  color: #002b54;
  font-size: 4em;
  font-weight: bold;
  line-height: initial;
}
@media (min-width: 50em) {
  /* line 100, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .blue-box-wrapper .water-icon .num {
    margin-top: -20px;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .blue-box-wrapper .water-icon .num {
  margin-top: -20px;
}
/* line 112, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .blue-box {
  background-color: #002b54;
  border-radius: 10px;
  color: #fff;
  padding: 1em 1em .1em 1em;
  font-size: 1.5em;
}
/* line 119, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .red-box {
  background-color: #ab1d40;
  border-radius: 10px;
  color: #fff;
  padding: 1em 1em .1em 1em;
  font-size: 1.4em;
  margin-bottom: 2em;
}
/* line 128, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .death-injury-wrapper {
  margin: 2em 0 0 0;
}
@media (min-width: 50em) {
  /* line 130, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .death-injury-wrapper .icon {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .death-injury-wrapper .icon {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 134, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .death-injury-wrapper .icon img {
  width: 70%;
}
@media (min-width: 50em) {
  /* line 138, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .death-injury-wrapper .details {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .death-injury-wrapper .details {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 142, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .death-injury-wrapper .details h5 {
  color: #6CAFDF;
  font-size: 2.8em;
  text-transform: uppercase;
  margin: 0;
}
/* line 148, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .death-injury-wrapper .details p {
  font-size: 2.5em;
  margin-bottom: .4em;
  text-transform: uppercase;
  color: #58595B;
}
/* line 154, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .death-injury-wrapper .details .num {
  font-size: 1.8em;
  font-weight: bold;
  color: #002b54;
}
/* line 165, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .more-stats {
  background-color: #E6E7E8;
  border-radius: 20px;
  height: 50px;
  margin: 4em 0;
  text-align: center;
}
/* line 171, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .more-stats .graph {
  text-align: center;
  background-color: #D1D3D4;
  border-radius: 20px;
  height: 100%;
  width: 100px;
  padding: 8px;
  display: block;
  float: left;
}
/* line 180, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .more-stats .graph img {
  height: 100%;
}
/* line 184, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .more-stats p {
  display: inline;
  text-transform: uppercase;
  font-size: 2.4em;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: initial;
}
/* line 192, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .more-stats p a {
  text-decoration: none;
  color: #6CAFDF;
}
/* line 199, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-graph .graph-labels {
  text-align: right;
}
/* line 201, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-graph .graph-labels div {
  width: 14%;
  display: inline-block;
  padding: 0 2em 2em 2em;
}
/* line 210, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .types-of-calls h3 {
  display: block;
  margin: 0;
  padding: .5em;
  background-color: #ab1d40;
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 1.5em;
}
/* line 223, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-grid {
  margin: 4em 0;
  text-align: center;
}
/* line 226, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-grid div {
  height: 250px;
  line-height: 250px;
}
/* line 230, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-grid img {
  vertical-align: middle;
}
/* line 235, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-grid .one img {
  max-width: 220px;
}
@media (min-width: 50em) {
  /* line 234, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .type-of-calls-grid .one {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .type-of-calls-grid .one {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 239, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-grid .two img {
  max-width: 260px;
}
@media (min-width: 50em) {
  /* line 238, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .type-of-calls-grid .two {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 34.04255%;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .type-of-calls-grid .two {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
}
/* line 243, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-grid .three img {
  max-width: 200px;
}
@media (min-width: 50em) {
  /* line 242, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .type-of-calls-grid .three {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .type-of-calls-grid .three {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 247, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-grid .four img {
  max-width: 160px;
}
@media (min-width: 50em) {
  /* line 246, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .type-of-calls-grid .four {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .type-of-calls-grid .four {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 251, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-grid .five img {
  max-width: 290px;
}
@media (min-width: 50em) {
  /* line 250, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .type-of-calls-grid .five {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 34.04255%;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .type-of-calls-grid .five {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
}
/* line 255, ../sass/partials/design/blocks/_by-the-numbers.scss */
#by-the-numbers .type-of-calls-grid .six img {
  max-width: 245px;
}
@media (min-width: 50em) {
  /* line 254, ../sass/partials/design/blocks/_by-the-numbers.scss */
  #by-the-numbers .type-of-calls-grid .six {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #by-the-numbers .type-of-calls-grid .six {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 3, ../sass/partials/design/blocks/_testimonials.scss */
.testimonials .flexslider .flex-direction-nav .flex-prev {
  left: 5px;
}
/* line 5, ../sass/partials/design/blocks/_testimonials.scss */
.testimonials .flexslider .flex-direction-nav .flex-prev:before {
  color: #6dafdf;
  text-shadow: none;
}
/* line 7, ../sass/partials/design/blocks/_testimonials.scss */
.testimonials .flexslider .flex-direction-nav .flex-next {
  right: 10px;
}
/* line 9, ../sass/partials/design/blocks/_testimonials.scss */
.testimonials .flexslider .flex-direction-nav .flex-next:before {
  color: #6dafdf;
  text-shadow: none;
}
/* line 12, ../sass/partials/design/blocks/_testimonials.scss */
.testimonials h3 {
  text-transform: uppercase;
  font-size: 2em;
  color: #6CAFDF;
  border-bottom: solid 2px #6CAFDF;
  display: block;
  padding: 20px 0;
  margin: 0;
}
/* line 21, ../sass/partials/design/blocks/_testimonials.scss */
.testimonials .testimonial-wrap {
  padding: 2em 4em;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/blocks/_testimonials.scss */
  .testimonials {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .testimonials {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 27, ../sass/partials/design/blocks/_testimonials.scss */
.testimonials .testimonial {
  font-size: 1.4em;
  font-weight: 300;
}
/* line 31, ../sass/partials/design/blocks/_testimonials.scss */
.testimonials .name {
  color: #6CAFDF;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 2, ../sass/partials/design/blocks/_year-in-photos.scss */
.year-in-photos h3 {
  text-transform: uppercase;
  font-size: 2em;
  color: #6CAFDF;
  border-bottom: solid 2px #6CAFDF;
  display: block;
  padding: 20px 0;
  margin: 0;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/blocks/_year-in-photos.scss */
  .year-in-photos {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .year-in-photos {
  width: 50%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 14, ../sass/partials/design/blocks/_year-in-photos.scss */
.year-in-photos .slides li h6 {
  background: #6dafdf;
  color: #fff;
  margin: 0;
  padding: 16px 0 16px 10px;
  font-family: "Roboto Condensed", sans-serif;
}

/* line 2, ../sass/partials/design/blocks/_budget.scss */
#budget .clearfix {
  margin-top: 2.4em;
}
/* line 5, ../sass/partials/design/blocks/_budget.scss */
#budget .canvas-holder {
  position: relative;
}
@media (min-width: 50em) {
  /* line 5, ../sass/partials/design/blocks/_budget.scss */
  #budget .canvas-holder {
    width: 40.42553%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #budget .canvas-holder {
  width: 40.42553%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 13, ../sass/partials/design/blocks/_budget.scss */
#budget .canvas-holder .total {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
  color: #152C53;
  font-size: 2.5em;
  line-height: .9em;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 23, ../sass/partials/design/blocks/_budget.scss */
#budget .canvas-holder .total .number {
  font-size: 1.5em;
  line-height: .9em;
}
@media (min-width: 50em) {
  /* line 29, ../sass/partials/design/blocks/_budget.scss */
  #budget .chart-details {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq #budget .chart-details {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 33, ../sass/partials/design/blocks/_budget.scss */
#budget .chart-details ul {
  margin: 0;
  padding: 0;
}
/* line 36, ../sass/partials/design/blocks/_budget.scss */
#budget .chart-details ul li {
  display: block;
  text-transform: uppercase;
  font-size: 1.8em;
  margin: 0 0 .4em 0;
}
/* line 44, ../sass/partials/design/blocks/_budget.scss */
#budget .color-152C53 {
  color: #152C53;
}
/* line 47, ../sass/partials/design/blocks/_budget.scss */
#budget .color-AA1E41 {
  color: #AA1E41;
}
/* line 50, ../sass/partials/design/blocks/_budget.scss */
#budget .color-626467 {
  color: #626467;
}
/* line 53, ../sass/partials/design/blocks/_budget.scss */
#budget .color-499544 {
  color: #499544;
}
/* line 56, ../sass/partials/design/blocks/_budget.scss */
#budget .color-F38020 {
  color: #F38020;
}
/* line 59, ../sass/partials/design/blocks/_budget.scss */
#budget .color-6CAEDF {
  color: #6CAEDF;
}
/* line 62, ../sass/partials/design/blocks/_budget.scss */
#budget .color-9C8B6F {
  color: #9C8B6F;
}
/* line 65, ../sass/partials/design/blocks/_budget.scss */
#budget .color-6CAFDF {
  color: #6CAFDF;
}
/* line 68, ../sass/partials/design/blocks/_budget.scss */
#budget .color-43C17D {
  color: #43C17D;
}
/* line 71, ../sass/partials/design/blocks/_budget.scss */
#budget .color-002B54 {
  color: #002B54;
}
/* line 74, ../sass/partials/design/blocks/_budget.scss */
#budget .color-9D68DE {
  color: #9D68DE;
}
/* line 77, ../sass/partials/design/blocks/_budget.scss */
#budget .color-D41A1A {
  color: #D41A1A;
}
/* line 80, ../sass/partials/design/blocks/_budget.scss */
#budget .color-F48120 {
  color: #F48120;
}
/* line 84, ../sass/partials/design/blocks/_budget.scss */
#budget .reserves, #budget .expenditures {
  margin: 4em 0 3em 0;
  padding: 0 0 0 4em;
}
/* line 87, ../sass/partials/design/blocks/_budget.scss */
#budget .reserves img, #budget .expenditures img {
  display: inline-block;
  width: 100px;
}
/* line 91, ../sass/partials/design/blocks/_budget.scss */
#budget .reserves h3, #budget .expenditures h3 {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 0 2em;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: normal;
}
/* line 100, ../sass/partials/design/blocks/_budget.scss */
#budget .expenditures h3 {
  color: #6CAEDF;
}

/* line 1, ../sass/partials/design/regions/_footer.scss */
.footer-wrapper {
  background: #002b54;
  padding: 2em 0;
}

/* line 6, ../sass/partials/design/regions/_footer.scss */
.site-footer p {
  margin: 0;
}
/* line 9, ../sass/partials/design/regions/_footer.scss */
.site-footer a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 1, ../sass/partials/design/regions/_header.scss */
.logo {
  text-align: center;
  background: url("../images/2016.svg") left center no-repeat;
  background-size: contain;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/regions/_header.scss */
  .logo {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    text-align: left;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .logo {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  text-align: left;
}
/* line 9, ../sass/partials/design/regions/_header.scss */
.logo h1 {
  color: #6CAFDF;
  margin: 0 0 0 50px;
  font-family: 'Alegreya', serif;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
}
/* line 18, ../sass/partials/design/regions/_header.scss */
.logo h2 {
  color: #AB1D40;
  margin: 0 0 0 50px;
  font-family: 'Alegreya', serif;
  text-transform: uppercase;
  font-size: 3.8em;
  line-height: 1em;
}

@media (min-width: 50em) {
  /* line 27, ../sass/partials/design/regions/_header.scss */
  .main-nav {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: -10px;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .main-nav {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-top: -10px;
}
/* line 32, ../sass/partials/design/regions/_header.scss */
.main-nav ul {
  padding: 0;
  margin: 0;
}
/* line 35, ../sass/partials/design/regions/_header.scss */
.main-nav ul li {
  display: inline-block;
  text-align: center;
  margin: 1em .5em 0 0;
}
/* line 39, ../sass/partials/design/regions/_header.scss */
.main-nav ul li a {
  width: 239px;
  height: 35px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 5px;
  font-size: .9em;
  -webkit-transition: color .5s ease;
          transition: color .5s ease;
}
/* line 49, ../sass/partials/design/regions/_header.scss */
.main-nav ul li a:hover {
  color: #002b54;
}
/* line 55, ../sass/partials/design/regions/_header.scss */
.main-nav .by-the-numbers {
  background: url("../images/by-the-numbers.svg") center center no-repeat;
  padding-left: 20px;
}
/* line 59, ../sass/partials/design/regions/_header.scss */
.main-nav .our-mission {
  background: url("../images/our-mission.svg") center center no-repeat;
  padding-left: 20px;
}
/* line 63, ../sass/partials/design/regions/_header.scss */
.main-nav .statistical-report {
  background: url("../images/pfa-service-areas.svg") center center no-repeat;
  padding-right: 20px;
}
/* line 67, ../sass/partials/design/regions/_header.scss */
.main-nav .budget {
  background: url("../images/budget.svg") center center no-repeat;
  padding-right: 20px;
}

/* line 74, ../sass/partials/design/regions/_header.scss */
.header-wrapper {
  padding: 1em 0;
  background: #002B54;
  width: 100%;
  text-align: center;
}
@media (min-width: 50em) {
  /* line 74, ../sass/partials/design/regions/_header.scss */
  .header-wrapper {
    height: 125px;
    z-index: 15;
    position: fixed;
    top: 0;
    overflow: hidden;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .header-wrapper {
  height: 125px;
  z-index: 15;
  position: fixed;
  top: 0;
  overflow: hidden;
}

/* line 1, ../sass/partials/design/regions/_main.scss */
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}
/* line 13, ../../vendor/bundle/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, ../sass/partials/design/regions/_main.scss */
main {
  padding: 2em 0;
}
/* line 13, ../../vendor/bundle/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/partials/design/regions/_body.scss */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}
/* line 4, ../sass/partials/design/regions/_body.scss */
html body {
  margin: 0;
  height: 100%;
  background: white;
  overflow-x: hidden;
}

/* line 11, ../sass/partials/design/regions/_body.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* line 13, ../sass/partials/design/regions/_body.scss */
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 13, ../../vendor/bundle/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../sass/partials/design/regions/_body.scss */
.site-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

/* line 24, ../sass/partials/design/regions/_body.scss */
main, header, footer, section, aside {
  display: block;
}

/* line 2, ../sass/partials/design/views/_team.scss */
.team-list .person {
  padding-bottom: 2em;
}
@media (min-width: 50em) {
  /* line 5, ../sass/partials/design/views/_team.scss */
  .team-list .person img {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 8, ../sass/partials/design/views/_team.scss */
  .team-list .person .info {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 5, ../sass/partials/design/views/_team.scss */
.no-mq .team-list .person img {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 8, ../sass/partials/design/views/_team.scss */
.no-mq .team-list .person .info {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 2, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item {
  padding-bottom: 2em;
}
/* line 6, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog h3 {
  margin-top: 0;
}
/* line 9, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog .person {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: -5px;
  border: 2px solid #002b54;
}
/* line 16, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul {
  list-style: none;
  padding: 0;
}
/* line 19, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul li {
  display: inline-block;
}
/* line 21, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul li.tag-label {
  background: #002b54;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: .8rem;
}
/* line 26, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul li.tag-label a, .blog-wrapper .right-blog ul li.tag-label a:visited {
  color: #f1f1f1;
  text-decoration: none;
}
@media (min-width: 50em) {
  /* line 35, ../sass/partials/design/views/_blog.scss */
  .blog-wrapper .left-image {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 38, ../sass/partials/design/views/_blog.scss */
  .blog-wrapper .right-blog {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 35, ../sass/partials/design/views/_blog.scss */
.no-mq .blog-wrapper .left-image {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 38, ../sass/partials/design/views/_blog.scss */
.no-mq .blog-wrapper .right-blog {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
