.footer-wrapper {
  background: $footer-bg;
  padding: 2em 0;
}
.site-footer {
  p {
    margin: 0;
  }
  a{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

}