.logo {
  text-align: center;
  background: url('../images/2016.svg') left center no-repeat;
  background-size: contain;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(6,1,$gutter:0);
    text-align: left;
  }
  h1 {
    color: #6CAFDF;
    margin: 0 0 0 50px;
    font-family: 'Alegreya', serif;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;

  }
  h2 {
    color: #AB1D40;
    margin: 0 0 0 50px;
    font-family: 'Alegreya', serif;
    text-transform: uppercase;
    font-size: 3.8em;
    line-height: 1em;
  }
}
.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(6,7);
    margin-top: -10px;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block; 
      text-align: center;
      margin: 1em .5em 0 0; 
      a {
        width: 239px;
        height: 35px;
        display: block;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding-top: 5px;
        font-size: .9em;
        transition: color .5s ease;
        &:hover {
          color: #002b54;
        }
      }
    }
  }
  .by-the-numbers {
    background: url('../images/by-the-numbers.svg') center center no-repeat;
    padding-left: 20px;
  }
  .our-mission {
    background: url('../images/our-mission.svg') center center no-repeat;
    padding-left: 20px;
  }
  .pfa-service-areas {
    background: url('../images/pfa-service-areas.svg') center center no-repeat;
    padding-right: 20px;
  }
  .budget {
    background: url('../images/budget.svg') center center no-repeat;
    padding-right: 20px;

  }
}

.header-wrapper  {
  padding: 1em 0;
  background: #002B54;
  width: 100%;
  text-align: center;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    height: 125px;
    z-index: 1;
    position: fixed;
	  top: 0;
	  overflow: hidden;
  }
}